    <div class="dashboard-content">
        <div class="db-tile">
            <h4 class="text-center">Liste des Clients</h4>
        </div>
        <div class="row">
            <!-- Item -->
            <div class="col-lg-6 col-md-6">
                <div class="card mb-4">
                    <div class="card-body text-center">
                        <i class="i-Add-User"></i>
                        <div class="py-4">
                            <h2 class="text-primary mb-2">
                                <button (click)="getParticulers()" class="btn btn-primary active">Nos Client avec profil Particulier</button>
                            </h2>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Item -->
            <div class="col-lg-6 col-md-6">
                <div  class="card mb-4">
                    <div  class="card-body text-center">
                        <i  class="i-Add-User"></i>
                        <div  class="py-4">
                            <h2  class="text-primary mb-2">
                                <button (click)="getEntreprises()" class="btn btn-primary active">Client avec profil Entreprise</button>
                            </h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="col-lg-12 col-md-12 mb-4">
            <div class="row mt-4" *ngIf="clientOne">
                <div class="col-md-2">Info Client</div>
                <div class="col-md-8">
                    <p class="m-0 text-small text-muted" *ngIf="clientOne">{{clientOne.prenom}} &nbsp; {{clientOne.nom}} &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;   email: {{clientOne.email}}  </p>
                </div>
                <div class="col-md-2"></div>
            </div>

            <div *ngIf="listContratsByClient">
                <div class="card" *ngFor="let contrat of listContratsByClient._embedded.contratClientBiens">
                    <div class="card-body">
                        <div class="d-flex align-items-center">
                            <div class="text-center">
                                <img alt="" class="img-fluid rounded-circle" src="../../../assets/images/logo.png" width="164" height="25">
                                <h6 class="mt-2 font-weight-bold">{{contrat.id}}</h6>
                            </div>
                            <div class="flex-grow-1 px-5">
                                <h4 class="mb-3">Status du contrat :
                                    <span class="badge badge-pill badge-danger text-uppercase">En Cours de De Contrat</span>
                                </h4>
                                <div class="mb-4">
                                    <div class="detail-list mb-2">
                                        <div class="detail-list-label mb-1">
                                            <small class="text-uppercase font-weight-bold">Type Contrat: {{contrat.type}}</small>
                                        </div>
                                    </div>
                                    <div class="detail-list mb-2">
                                        <div class="detail-list-label mb-1">
                                            <i class="fa fa-calendar mr-2" aria-hidden="true"></i>  <small class="text-uppercase font-weight-bold">Duree du contrat</small>
                                        </div>
                                        <p class="m-0 text-small text-muted">{{contrat.dateDebut | date : fullDate}} -  {{contrat.dateFin | date : fullDate}}</p>
                                    </div>
                                </div>
                            </div>
                            <div *ngIf="contrat">
                                <button class="btn btn-1 btn-success" type="button" (click)="consulterPaiementByContrat(contrat.id)" >Voir liste des paies</button>
                                <button class="btn btn-1 btn-info" type="button" *ngIf="clientOne" (click)="contacterClient(clientOne.id)" >Contacter</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="dashboard-list-box table-responsive invoices with-icons">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Nom</th>
                        <th>Prenom</th>
                        <th>Email</th>
                        <th>Adresse</th>
                        <th>Ville</th>
                        <th>Num Tel</th>
                        <th></th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody *ngIf="particuliers">
                    <tr *ngFor="let cons of particuliers._embedded.particuliers">
                        <td>{{cons.id}}</td>
                        <td>{{cons.nom}}</td>
                        <td>{{cons.prenom}}</td>
                        <td>{{cons.email}}</td>
                        <td>{{cons.adresse}}</td>
                        <td>{{cons.ville}}</td>
                        <td>{{cons.numTel}}</td>
                        <td>
                            <button class="btn btn-sm btn-btn-success text-center" type="button" (click)="consulteClient(cons.id)">Consulter</button>
                        </td>
                        <td>
                            <button class="btn btn-sm btn-danger text-center" type="button" (click)="consulteContrat(cons.id)">voir contrat</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>


