<div class="main-wrapper">
	<!--Title Bar -->
	<title-bar title="Disposition de la grille" subtitle="Explorer de nouveaux Biens"></title-bar>
	<!-- Content -->
	<div class="content">
		<div class="container">
			<div class="row">
				<!-- Search -->
				<div class="col-md-12 grid-full-width page-search mb-3">
					<form action="">
						<div class="main-search-input mt-0">
							<div class="col-lg-3 col-sm-6">
								<div class="form-group">
									<label>
										<input type="text" placeholder="donner une adrese" class="form-control" [(ngModel)]="rechercheBien.adresse" name="adresse">
									</label>
								</div>
							</div>
							<div class="col-lg-3 col-sm-6">
								<div class="form-group">
									<label>
										<input type="text" placeholder="A louer ou A vendre" class="form-control" [(ngModel)]="rechercheBien.status" name="status">
									</label>
								</div>
							</div>
							<div class="col-lg-3 col-sm-6">
								<div class="form-group">
									<label>
										<input type="text" placeholder="Price" class="form-control" [(ngModel)]="rechercheBien.price" name="price">
									</label>
								</div>
							</div>
							<div class="col-lg-3 col-sm-6 text-right">
								<button class="btn main-search-btn btn-radius btn-lg btn-primary text-white"><span class="btn-inner--text">Search</span></button>
							</div>
						</div>
					</form>
				</div>
				<!-- Search Section / End -->
				<div class="col-md-12">
					<!-- Sorting - Filtering Section -->
					<div class="row my-4">
						<div class="col-md-6">
							<!-- Layout Switcher -->
							<div class="layout-switcher">
								<a class="grid active"><span class="round-pill d-block"><i class="fa fa-th"></i></span></a>
								<a class="list"><span class="round-pill d-block"><i class="fa fa-align-justify"></i></span></a>
							</div>
						</div>
						<div class="col-md-6">
							<div class="fullwidth-filters">
							</div>
						</div>
					</div>
					<!-- Sorting - Filtering Section / End -->
					<div class="row" *ngIf="terrains">
						<!-- Listing Item -->
						<div class="col-lg-4 col-md-6 grid-layout-list" *ngFor="let list of terrains._embedded.terrains">
							<div  class="listing-item-container compact">
								<div class="listing-item mb-4">
									<a class="clickable" (click)="onTerrainDetail(list)"> <img width="300px" height="300" src="{{this.terrainService.getGlobalResource().host+'/ter/photoProduit1/'+list.id}}" alt=""></a>
									<span class="badge badge-pill badge-primary text-uppercase">Now OPEN</span>
									<div class="listing-item-content">
										<span class="badge badge-pill badge-primary text-uppercase">{{list.status}}</span>
										<DirectlistRating [rate]="list.id"></DirectlistRating>
										<a class="clickable" (click)="onTerrainDetail(list)">
											<h3>{{list.titre}}</h3>
										</a>
										<span> <small>{{list.adresse}}</small> </span>
									</div>
									<span class="round-pill like-banner d-block bg-primary"><i class="fa fa-heart-o"></i></span>
								</div>
							</div>
						</div>
						<!-- Listing Item / End -->
					</div>
					<!-- Pagination -->
					<div class="clearfix"></div>
					<pagination></pagination>
					<!-- Pagination / End -->
				</div>
			</div>
		</div>
	</div>
</div>

