<div class="dashboard-content">
   <div class="db-tile">
      <h4 class="text-center">Liste des Paiements Clients</h4>
   </div>
   <div class="row">
      <!-- Item -->
      <div class="col-lg-6 col-md-6">
         <div class="card mb-4">
            <div class="card-body text-center">
               <i class="i-Add-User"></i>
               <div class="py-4">
                  <h2 class="text-primary mb-2">
                     <button (click)="getPaiementLocations()" class="btn btn-primary active">Paiement en contrat de Location</button>
                  </h2>
               </div>
            </div>
         </div>
      </div>
      <!-- Item -->
      <div class="col-lg-6 col-md-6">
         <div  class="card mb-4">
            <div  class="card-body text-center">
               <i  class="i-Add-User"></i>
               <div  class="py-4">
                  <h2  class="text-primary mb-2">
                     <button (click)="getPaiementVentes()" class="btn btn-primary active">Paiement des biens Vendus</button>
                  </h2>
               </div>
            </div>
         </div>
      </div>
   </div>
   <div class="dashboard-list-box table-responsive invoices with-icons">
      <table class="table table-hover">
         <thead>
         <tr>
            <th>ID</th>
            <th>Moyent de Paiement</th>
            <th>ID Contrat</th>
            <th>Client</th>
            <th>Status (Acceptee / Rejetter)</th>
            <th>Bien</th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
         </tr>
         </thead>


      </table>
   </div>
</div>
